<%- contentFor('style') %>
<link rel="stylesheet" href="../styles/style.css" />
<style>
	#card {
		background-color: #e6ebf4;
	}
</style>

<%- contentFor('cardbody') %>

<img id="cardImg" src="/images/hello.svg" alt="Hello" />
<a href="/authpage" id="authHref"
	><div id="expBtn">
		Explore <span><img src="../images/arrow.svg" /></span></div
></a>

<%- contentFor('script') %>
<!-- no script used -->
