* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kanit", sans-serif;
}
html,
body {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(
		to right top,
		rgba(54, 4, 88, 0.8),
		rgba(56, 3, 86, 0.8),
		rgba(57, 2, 84, 0.8),
		rgba(59, 2, 83, 0.8),
		rgba(60, 1, 81, 0.8),
		rgba(58, 1, 81, 0.8),
		rgba(57, 2, 82, 0.8),
		rgba(55, 2, 82, 0.8),
		rgba(50, 4, 84, 0.8),
		rgba(43, 6, 86, 0.8),
		rgba(36, 8, 88, 0.8),
		rgba(27, 10, 90, 0.8)
	);
	color: whitesmoke;
}

#signTitle {
	font-size: 4vw;
	font-weight: bold;
	margin: 15px 0;
}
#signOp {
	position: relative;
	background-color: #222;
	display: flex;
	margin-top: 5px;
	border-radius: 5px;
	border: none;
}
.signBtn {
	margin: 7px;
	padding: 7px;
	border-radius: 5px;
	cursor: pointer;
}
#signin {
	background-color: #333;
}

#formField1 {
	width: 100%;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	padding-left: calc(100% - 75%);
	padding-right: calc(100% - 75%);
	display: none;
}
#formField2 {
	width: 100%;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	padding-left: calc(100% - 75%);
	padding-right: calc(100% - 75%);
}
.formF label {
	position: relative;
	margin-top: 2px;
	left: 3.5px;
	font-weight: bold;
}
.formF input {
	background-color: #6e6e6e;
	margin: 5px 0;
	height: 5vh;
	padding: 4px;
	outline: none;
	border-radius: 5px;
	font-weight: bold;
	color: rgb(48, 48, 49);
	margin-bottom: 15px;
}
.formF input:focus {
	border: 1.5px solid royalblue;
}
#subBtn {
	width: 50%;
	position: relative;
	margin-top: 20px;
	background-color: rgb(19, 89, 239);

	border: none;
	left: 25%;
	color: rgb(255, 251, 242);
}
#subBtn:hover {
	background-color: rgb(48, 106, 231);
}
#subBtn:active {
	background-color: rgb(22, 78, 200);
}

/* next */

#cardImg {
	width: 35vw;
}
#expBtn {
	background-color: rgb(19, 89, 239);
	padding: 1px 10px 5px 15px;
	border-radius: 50px;
	cursor: pointer;
}
#expBtn:hover {
	background-color: rgb(48, 106, 231);
}
#expBtn:active {
	background-color: rgb(22, 78, 200);
}
#expBtn span img {
	position: relative;
	width: 20px;
	top: 5px;
}
#authHref {
	text-decoration: none;
	color: white;
}

@media (max-width: 768px) {
	.signBtn {
		margin: 5px;
		padding: 5px;
		font-size: 3.7vw;
	}
	#signTitle {
		font-size: 6vw;
	}
	#formField1,
	#formField2 {
		padding-left: calc(100% - 88%);
		padding-right: calc(100% - 88%);
	}
	.formF input {
		height: 4vh;
	}
	#cardImg {
		width: 70vw;
	}
}
